.main-equipo{
	height: 100%;
	width: 100%;
	display: inline-flex;
	align-content: space-around;
	vertical-align: middle;
	background-image:url(../img/o-byn-mapa.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.miembro {
	margin: auto;
	text-align: center;
}

.miembro a img{
	height: 300px;
	border-radius: 300px;
    -webkit-filter: grayscale(30%);
    filter: grayscale(30%);

}

.miembro a img:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.miembro p{
	margin-top: 20px;
	font-weight: 700;
	font-size: 20px;
}

@media(max-width:1050px){
	.main-equipo{
		height:900px;
		display:flex;
		flex-direction: column;
	}
	.miembro a img{
	height: 200px;
	border-radius: 200px;
	}
	
}