body{
	background-image: url(../img/val.png);
	background-position:center;
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
}
.content {
	height: 100%;
	width: 100%;
	display:flex;
	justify-content:space-around;
	align-items:center;
	padding: 0% 10%;
}
.wrapper{
	width: 300px;
	display: flex;
	flex-direction: column;
	margin:auto;
	vertical-align: middle;
}
#go-btn{
    background-color: #FF942B;
	color: #ffffff;
	border-radius: 50px;
	width: 200px;
	height: 60px;
	text-align: center;
	font-size: 40px;
	margin: auto;
}

#go-btn:hover {
	opacity: .8;
}

.section{
	text-align: center;
	padding: 50px 80px;

}

.section-dark h2{
	margin-bottom: 20px;
}
.section-dark{
	background-color:#282e34;
	color:#ddd;
	min-width: 400px;
	max-width: 35%;
	padding: 50px 25px;
}

@media(max-width:1050px){

	.content{
		height: 200%;
		display: flex;
		padding: 30px 45px;
		flex-direction: column;
	}
	
}

@media(max-width:550px){

.section-dark{
	background-color:#282e34;
	color:#ddd;
	min-width: 300px;
	padding: 30px 15px;
}
	
}

