*{
    margin:0 ;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration:none;
	font-family: 'Roboto', sans-serif;
}

html,body{
   width: 100%;
   height: 100%;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   padding-top:40px;
}
a{
    color:#f4f4f4;
    text-decoration: none;
}

a:visited {
    color:#f4f4f4;
    text-decoration: none;
}

a:hover{
    color:#f4f4f4;
    text-decoration: none;
}


/*### BARRA DE NAVEGACION ###*/
header{
    width: 100%;
    position: absolute;
	top:0;
    background-color:#000000;  
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding: 12px 15px 12px 25px;
	z-index: 50;
	border-bottom: solid 3px #871D1F;
}
#home img{
	height: 50px;
	margin-left:10px;
}
.btn-nav{
    color: #f4f4f4;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
    padding:5px 15px 5px 15px;
    margin:0px 8px 0px 8px;
}
.btn-nav:hover {
    background: #fff;
    color:#000;
    border-radius:50px;
}

.main{
	height: 100%;
	width: 100%;
}

.modal1{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.7);
    display:none;
    justify-content:center;
	align-items:center;
	z-index: 1000;
}
.cerrar{
	margin-top:25px;
	display: flex;
	align-items: center;
    justify-content:center;
}
.cerrar_button{
	height: 35px;
	width:75px;
	border-radius: 10px;
	border: 2px solid #fff;
	background-color: #000;
	color:#f4f4f4;
}
.cerrar_button:hover{
	color:#000;
	background-color: #f56f3a;
	border: 2px solid #000;
}
ventana{
    position:absolute;
	margin:auto;
	background-color:rgba(255,255,255,.8);
	text-align: center;
	color:black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.email_formulario{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color:#413B3B;
	padding: 25px;
	padding-bottom: 0px;
	overflow-y:visible;
	z-index: 52;
	border-radius: 10px;
}


/*### FORMULARIO ###*/
label {
    padding-right: 8px;
	padding-left: 8px;
	text-align: center;
	background: #fff;
	border-radius: 8px;
	border:1px solid #000000;
	margin-bottom: 10px;
}

form {
    width:100%;
	height:100%;
	display: flex;
	flex-direction: column;
    margin:auto;
	text-align: center;
	align-items: center;
}
 
input, textarea {
    width:300px;
    height:31px;
    background:#fff;
    border:1px solid #000000;
	border-radius: 8px;
    text-align: center;
    font-size:13px;
    color:#000;
	margin-bottom: 25px;
}
 
textarea {
	min-height: 70px;
	height: 130px;
}
 
#submit {
    width:75px;
    height:35px;
    border-radius:30px;
    cursor:pointer;
	color: black;
}
#submit:hover {
background: #f56f3a;
}


footer{
    display: inline-flex;
    height: 100px;
	width:100%;
	background-color:#000000;
	border-top: solid 3px #871D1F;
}
.footer-box{
	height: 100%;
	width: 100%;
	display: inline-flex;
	margin: auto;
}
footer img{
	height: 50%;
	margin:auto;
}
#btn-contact{
	height: 30px;
	min-width: 110px;
	margin: auto;
	background-color: #111111;
	border-radius: 50px;
}
#btn-contact:hover {
    background: #fff;
    color:#000;
    border-radius:50px;
}
.pointer{
    cursor: pointer;
}
/*### RESPONSIVE ###*/
@media(max-width:750px){
	body{
		padding-top: 60px;
	}
	header{
		
		display:inline-block;
		text-align: center;
	}

}

@media(max-width:450px){
	.btn-nav{
		margin: 0px 4px 0px 4px;
		padding: 5px 7px 5px 7px;
	}
}

@media(max-width:1150px){
	.footer-box{
		display: flex;
		flex-direction: column;
	}
	footer img{
		height: 40%;
		margin:auto;
	}
}
@media(max-width:750px){
	footer{
		display:flex;
		flex-direction: column;
		height: 250px;
	}
	.footer-box{
		display: inline-flex;
		flex-direction: row;
		height: 100px;
	}
	footer div{
		height: 50%;
		margin:auto;
		order:2;
	}
	#btn-contact{
		width: 110px;
		margin-top:30px;
		text-align: center;
	}
}